---
import Layout from '../layouts/Layout.astro';
import { trpc } from '../lib/trpc';

let users = await trpc.users.query();
---

<Layout title='Posts'>
  <div>
    {
      users.map((user) => (
        <div class='mt-2 border-t-2'>
          <div>Name: {user.name}</div>
          <div>ID: {user?.id}</div>
        </div>
      ))
    }
  </div>
</Layout>
